.inner {
        display: flex;
        flex-direction: row;
        justify-content: start;
}
.backgroundStyle {
        height: 35px;
        width: 35px;
        border-style: solid;
        justify-content: center;
        background-color:  black;
        border-radius: 2px;
};